body{
    display: flex;
    flex-direction: column;

}

header {
    display: flex;
    
}

.containerLogout{
    margin-top: 17px;
    margin-left: 900px;
    height: 40px;
    width: 160px;
    
    
}
.containerLogout div { 
    height: 20px;
    width: 70px;
   

    position: absolute;
    top: 43px;
    right: 98px;
    text-align: center;

    font-family: 'Lato';
    font-weight: bold;
    color: white;
   
}
.containerLogout img{
    height: 30px;
}

.containerPerfil{
    cursor: pointer;
}

.containerLogout .containerPerfil .face{ 
    position: absolute;
    right: 80px;
    top: -20px;
    
}

.containerLogout .containerPerfil .cicle{
    position: absolute;
    right: 73px;
    top: -22px;
    height: 40px;
}

.containerLogout .logout{

    position: absolute;
    top: 25px;
    right: 70px;
    height: 30px;
    cursor: pointer;
    

}

main{   
    display: flex;
    

    margin-top: 80px;

    height: 50000px;
    width: 100vw;

    border-top-left-radius: 60px;
    border-top-right-radius: 60px;

    background-color: white;
}


.transactionPage{   
    display: flex;
    flex-direction: column;
    height: 9000px;
    width: 70%;
    border-top-left-radius: 60px;

}

.filterIcon{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 80px;
    margin-top: 35px;

    height: 35px;
    width: 90px;

    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    background-color: #FAFAFA;
    cursor: pointer;

}

.filterIcon div {
    font-family: 'Lato';
    font-weight: bold;
    
}

.filterIcon img {
    height: 15px;
    margin-right: 7px ;
}

.containerFilterCategory {
    display: none;
    justify-content: baseline;
    flex-wrap: wrap;
    margin-left: 75px;
    margin-top: 35px;
    margin-bottom: 30px;
    height: 150px;
    width: 75%;
    font-size: 13px;
    font-family: 'Rubik';
    
  }
  
  .containerFilterCategory #filterCategory{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: 25px;
    width: 130px;
    margin: 2px;
    padding-left: 5px;
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

 .selected{
    background-color: #7978D9;
    color: white;
 }

  .plus {
    margin-left: 10px;
    align-self: center;
  }

  .containerSelectedFilter{
    display: flex;
    position: absolute;
    top: 345px;
    height: 30px;
    width: 300px;
    

  }

  .containerSelectedFilter .select{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    width: 150px;
    height: 100%;
    font-weight: bold;
    border-radius: 15px;
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    
  }

  .select:active{
    background-color: #7978D9;
    color: white;
  }

  .noSelect:active{
    background-color: #7978D9;
    color: white;
  }

  .containerSelectedFilter .noSelect{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    font-weight: bold;
    border-radius: 15px;
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
    cursor: pointer;    
  }

  

.glossary{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    margin-left: 80px;
    margin-top: 35px;
    margin-bottom: 20px;

    height: 50px;   
    width: 100%;

    font-family: 'Lato';
    font-weight: bold;

    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
    border-radius: 10px;


    background-color:  #FAFAFA;
}

.glossary .exponent{
    display: flex ;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.glossary .exponent img
{
    margin-top: 5px;
    margin-left: 3px;
    height: 5px;
}

.line {
    position: relative;
    left: 80px;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    width: 100%;        
}

.transation{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    margin-left: 30px;

    height: 50px;
    width: 100%;

    font-family: 'Lato';
    font-weight: bold;

    
}

.transation img {
    cursor: pointer;
}

.transation .data {
    position: relative;
    right: 0px;
    margin-top: 130px;
    height: 150px;
    width: 150px;
    text-align: center; 
    
}

.transation .daysName{
    position: relative;
    right: -3px;
    margin-top: 130px;
    height: 150px;
    width: 150px;
    text-align: center; 
    
}

.transation .description{
    position: relative;
    right: -26px;
    margin-top: 130px;
    height: 150px;
    width: 150px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.transation .categoryName {
    position: relative;
    right: -30px;
    margin-top: 130px;
    height: 150px;
    width: 150px;
    text-align: center; 
}

.transation .value{
    position: relative;
    right: -15px;
    margin-top: 130px;
    height: 150px;
    width: 150px;
    text-align: center;

}

.value.prohibited{
    color: #7B61FF;
}

.value.exit{
    color: #FA8C10;
}

.value .balanceSummary{
    height: 100%;
    width: 20%;
    border-top-right-radius: 60px;
   
}

.balanceSummary main{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 130px;
    height: 300px;
    width: 90%;

    border-radius: 10px;
}

.balanceSummary main .summary{

    height: 200px;
    width: 90%;
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
    border-radius: 10px;


    background-color:  #FAFAFA;

}

.summary div {
    display: flex;
    flex-direction: column;
    margin-left: 25px;

    font-family: 'Lato';
    font-weight: bold;
}

.summaryText{
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 25px;

}

.prohibitedText{
    margin-bottom: 5px;
}

.lost {
    position: absolute;
    left: 1140px;
    color: #645FFB  ;
}

.gain{
    position: absolute;
    left: 1140px;
    color: #FA8C10;
}

.money {
    position: absolute;
    left: 1120px;
    color: #3A9FF1  ;
}

.balanceText{
    margin-top: 40px;
    font-size: 20px;

}

main button {
   margin-top: 20px;
   width: 90%;

   font-family: 'Lato';
   font-weight: bold;  
}